.header-container
        header.site-header
          .title-row
            h1
              a(href='/') HírkerEgyben
          .nav-row
            nav
              ul
                li.category
                  a(class=!category ? 'active' : undefined, href='/')
                    h2 Összes
                li.category
                  a(class=category ==='belfold' ? 'active' : undefined, href='/belfold')
                    h2 Belföld
                li.category
                  a(class=category ==='kulfold' ? 'active' : undefined, href='/kulfold')
                    h2 Külföld
                li.category
                  a(class=category ==='bulvar' ? 'active' : undefined, href='/bulvar')
                    h2 Bulvár
                li.category
                  a(class=category ==='sport' ? 'active' : undefined, href='/sport')
                    h2 Sport
                li.category
                  a(class=category ==='tech' ? 'active' : undefined, href='/tech')
                    h2 Tech
          .col-row
            ul
              li
                a(href='#col2') Ugrás középre
              li
                a(href='#col3') Ugrás az aljára