extends layout

block content
    main
        .feed-container
          .col
            each feed in feedlist
              .feed-wrapper
                .feed-list-header-container
                  h3.feed-list-header #{feed.title}
                .feed-list
                  amp-list(height='350', layout='fixed-height', src='/v0/api/feeds/' + feed.title)
                    template#amp-template-id(type='amp-mustache')
                      .feed-item
                        a.feed-item-title(href='{{url}}') {{title}}
                    .list-overflow(overflow='', aria-label='Show more')
                      | További #{feed.title} hírek
          .col
                      each feed in feedlist
                        .feed-wrapper
                          .feed-list-header-container
                            h3.feed-list-header #{feed.title}
                          .feed-list
                            amp-list(height='350', width='310', layout='fixed', src='/v0/api/feeds/' + feed.title)
                              template#amp-template-id(type='amp-mustache')
                                .feed-item
                                  a.feed-item-title(href='{{url}}') {{title}}
                              .list-overflow(overflow='', aria-label='Show more')
                                | További #{feed.title} hírek
          .col
                      each feed in feedlist
                        .feed-wrapper
                          .feed-list-header-container
                            h3.feed-list-header #{feed.title}
                          .feed-list
                            amp-list(height='350', width='310', layout='fixed', src='/v0/api/feeds/' + feed.title)
                              template#amp-template-id(type='amp-mustache')
                                .feed-item
                                  a.feed-item-title(href='{{url}}') {{title}}
                              .list-overflow(overflow='', aria-label='Show more')
                                | További #{feed.title} hírek