extends layout

block content
    main
        .feed-container
          .col
            each publisher in publisherList1
              .feed-wrapper
                .feed-list-header-container
                  h3.feed-list-header #{publisher.title}
                .feed-list
                  ul.feed-list-ul
                    if publisher.feeds
                      each feed in publisher.feeds.items
                        li.feed-item
                          a.feed-item-title(href=feed.url, target='_blank') #{feed.title}
          .col
            each publisher in publisherList2
              .feed-wrapper
                .feed-list-header-container
                  h3.feed-list-header #{publisher.title}
                .feed-list
                  ul.feed-list-ul
                    if publisher.feeds
                      each feed in publisher.feeds.items
                        li.feed-item
                          a.feed-item-title(href=feed.url, target='_blank') #{feed.title}
          .col
            each publisher in publisherList3
              .feed-wrapper
                .feed-list-header-container
                  h3.feed-list-header #{publisher.title}
                .feed-list
                  ul.feed-list-ul
                    if publisher.feeds
                      each feed in publisher.feeds.items
                        li.feed-item
                          a.feed-item-title(href=feed.url, target='_blank') #{feed.title}